site_name: k3git
site_description: wrapper of git command-line
site_url: https://k3git.readthedocs.io
repo_url: https://github.com/pykit3/k3git
repo_name: pykit3/k3git

theme:
  name: material
  palette:
    primary: blue
    accent: blue

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [.]
          options:
            show_source: true
            show_root_heading: true
            heading_level: 2

nav:
  - Home: index.md

markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
